@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *::selection {
    background: white; /* Background color */
    color: black; /* Text color */
  }
  html,
  body {
    @apply text-white;
    scroll-behavior: smooth;
  }
}

@layer components {
  .green_shadow {
    text-shadow: 0px 2.5px 10px rgb(61, 206, 174);
  }
  .green_text {
    @apply text-[rgb(61,206,174)];
  }
}
